# config settings for conkyForecast.py
CACHE_FOLDERPATH = /tmp/
CONNECTION_TIMEOUT = 5
EXPIRY_MINUTES = 30
TIME_FORMAT = %H:%M
DATE_FORMAT = %d-%m-%Y 
################################################
# CHANGE TO  %Y-%m-%d if you want english format
################################################
LOCALE = EN
# change to LOCALE = DE for German or FR for French etc.... 
XOAP_PARTNER_ID = 
XOAP_LICENCE_KEY = 
MAXIMUM_DAYS_FORECAST = 5
#BASE_XOAP_URL = http://xoap.weather.com/weather/local/XXXXXXXX?cc=*&dayf=10&link=xoap&prod=xoap&par=<XOAP_PARTNER_ID>&key=<XOAP_LICENCE_KEY>&unit=m
BASE_XOAP_URL = http://xml.weather.com/weather/local/LUXX0003?cc=*&dayf=10&link=xoap&prod=xoap&par=<XOAP_PARTNER_ID>&key=<XOAP_LICENCE_KEY>&unit=m
